*, *:before, *:after {
box-sizing: border-box;
}
body {
  {}
  margin: 0;
	padding: 0;
	border: 0;
  width: 420px;
font: inherit;
font-size: 16px;
	vertical-align: baseline;
  background-color: #dadada;
  .header h1 {
  font-size: 2em
  color:#000000;}
    text-align:left;
  .header h3 {
    font-size: 20px;
    color:#000000;
    text-align:left;
}

}

.container {
  margin: 0 auto;
  width: 420px;
  float: left;
}

nav {
}
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  width: 420px;
}

.restaurant-list {
  padding-top: 50px;
}

.content {
  display: inline-block;
}
