*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 11px;
  vertical-align: baseline;
  background-color: #dadada;
}
  restaurant-list {
      margin: 0 auto;
      width: 100%;
      padding: 50px;
  }
  location {
    display: inline-block;
    width: 100%;
  }
}

.header h1 {
  font-size: 18px;
  color: #000000;
}

.header h3 {
  font-size: 11px;
  color: #000000;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  width: 100%;
  float: left;
}
.box1 {
  background-color: #000000;
  border: 5px solid #ff0000;
  margin: 50px;
  width: 250px;
}
.arrow-left {
  display: block;
  width: 20%;
}
.content {
  display: inline-block;
  width: 80%;
}

.arrow {
  display: inline;
  width: 100%;
}
